# ALLOW USER BY IP
<Limit GET POST>
 order deny,allow
 deny from all
 allow from 24.8.180.48
</Limit>

# PREVENT VIEWING OF .HTACCESS
<Files .htaccess>
 order allow,deny
 deny from all
</Files>

ErrorDocument 403 google.com 