@import 'partials/global/mixins';
@import 'partials/global/variables';
@import "breakpoint";
@import "singularitygs";


*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
  background: #fff;
  margin: 0 auto;
  @include clearfix;
}

.page-wrap {
  @include grid-span (1, 1);
  float: left;
  @include breakpoint($desktop) {
      max-width: 1400px;
  }
}

.wrap {
  width: 100%;
  max-width: $phone;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  @include clearfix;
  /*@include background-grid;*/
  @include breakpoint($tablet) {
    max-width: $tablet;
    padding: 0 2em;
  }
  @include breakpoint($desktop) {
    max-width: 800px;
    padding: 0 3em;
  }
  @include breakpoint($lg-desktop) {
    max-width: 800px;
    padding: 0 0em;
  }
}


header.header {
  background: #fafafa;

  @include breakpoint($tablet) {
      @include grid-span (2, 1);
      height: 100vh;
      width: 300px;
      position: fixed;
  }
  @include breakpoint($desktop) {
      @include grid-span (2, 1);
      width: 300px;
  }
}

.main-section, .archive {
  @include breakpoint($tablet) {
      float: right;
      width: calc(100% - 300px);
      width: -webkit-calc(100% - 300px);
      width: calc(100% - 300px);

  }
}

.main-section {    padding: 0;
    background: #fff;
}

article {
  @include clearfix;
}
.cover {
  @include breakpoint($desktop) {
   float: left;
   width: 30%;
   }
   img {
    margin-bottom: 0.5em;
   }
}

.desc {
  @include breakpoint($desktop) {
   overflow: hidden;
   }
   @include breakpoint($desktop) {
   p {
    margin: 0 0 1em;
    padding-left: 1em;
    font-size: 140%;
   }
  }
}


.archive {
   margin-bottom: 2em;
  h2 {
    border-top: 2px solid #333;
    padding-top: 1em;
  }
}

.archive-project {
    border-top: 1px solid #ccc;
    padding: 1em;
    h6 {
      margin: 1em 0;
      @include breakpoint($tablet) {      
         display: inline-block;
      }
    }
    .read-more-btn {
      font-size: 80%;
      @include breakpoint($tablet) {    
        float: right;
        margin: 1em 0;
      }
    }
}