@import 'partials/global/variables';
@import 'partials/global/mixins';
@import "singularitygs";
@import 'breakpoint';

.project {
    @include breakpoint($phone) {
	   margin-bottom: 5em;
    }
	img {
		 @include breakpoint($phone) {
			 padding: 1em 1em 2em;
		 }
		 @include breakpoint($tablet) {
			margin-bottom: 6em;
		 }
	}
}


.project {
	.project-details {
		@include breakpoint($phone) {
			padding: 1em 0.5em;
		}
		@include breakpoint($tablet) {
			padding: 7em 0em 2em;
			
		}
	}
}
.project-1 {
	.project-details {
	}
	.project-note {
		border-color: $project-one;
		a {
			color: $project-one;
		}
	}
}

.project-2 {
	.project-note {
		border-color: $project-two;
		a {
			color: $project-two;
		}
	}
}

.project-4 {
	.project-note {
		border-color: $project-four;
		a {
			color: $project-four;
		}
	}
}

.project-5 {
	.project-note {
		border-color: $project-five;
		a {
			color: $project-five;
		}
	}
}

.project-6 {
	.project-note {
		border-color: $project-six;
		a {
			color: $project-six;
		}
	}
}

.project-8 {
	.project-note {
		border-color: #7dbf44;
		a {
			color: #7dbf44;
		}
	}
}

.project-10 {
	.project-note {
		border-color: #3F548D;
		a {
			color: #3F548D;
		}
	}
}



.light {
  * {
    color: #fff !important;
    }
  }

.project-note {
	p {
		@include breakpoint($tablet) {
			float: left;
		}
	}
	span {
    font-size: 150%;
    @include breakpoint($tablet) {
			float: right;
	    padding-top: 1.2em;
    }
	}
}


