@import 'partials/global/variables';
@import 'partials/global/mixins';
@import "singularitygs";
@import 'breakpoint';

.project {
    @include breakpoint($phone) {
	   margin-bottom: 5em;
    }
	img {
		 @include breakpoint($phone) {
			 padding: 1em 1em 2em;
		 }
		 @include breakpoint($tablet) {
			margin-bottom: 6em;
		 }
	}
}

/*
@include breakpoint($desktop) {
	.laptop-wrap {
	  width:980px;
	  height: 607px;
	  background: url('https://dl.dropboxusercontent.com/u/267855492/michaeldmcqueen.com/laptop-wrap-desktop.jpg') no-repeat;
	  position: relative;
		.window {
			width: 732px;
			height: 459px;
			overflow:scroll;
		    position: absolute;
		    top: 44px;
			left: 126px;
			img {
			  margin-bottom: 0;
			}
		}
	}
}
@include breakpoint($lg-desktop) {
	.laptop-wrap {
	  width:1200px;
	  height: 743px;
	  background: url('https://dl.dropboxusercontent.com/u/267855492/michaeldmcqueen.com/laptop-wrap.jpg') no-repeat;
		.window {
			width: 895px;
			height: 560px;
		    top:54px;
		    left:156px;
		}
	}
}*/


.project-1, .project-2, .project-3, .project-4, .project-5, .project-6  {
	.project-details {
		@include breakpoint($phone) {
			padding: 1em 0.5em;
		}
		@include breakpoint($tablet) {
			padding: 7em 0em 2em;
			
		}
	}
}
.project-1 {
	.project-details {
	}
	.project-note {
		border-color: $project-one;
		a {
			color: $project-one;
		}
	}
}

.project-2 {
	.project-note {
		border-color: $project-two;
		a {
			color: $project-two;
		}
	}
}

.project-4 {
	.project-note {
		border-color: $project-four;
		a {
			color: $project-four;
		}
	}
}

.project-5 {
	.project-note {
		border-color: $project-five;
		a {
			color: $project-five;
		}
	}
}

.project-6 {
	.project-note {
		border-color: $project-six;
		a {
			color: $project-six;
		}
	}
}

.light {
  * {
    color: #fff !important;
    }
  }



